<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel ="stylesheet" type="text/css" href="css/why.css">
    
    
    <title>Cargo Management System</title>
  </head>
  
   <body>

  
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <a class="navbar-brand" href="#">Cargo Management System</a>
 
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
           
            <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="aboutus">About Us</a>
            </li>
           
            <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="teams">Teams</a>
            </li>
           
               <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="service">Our Services</a>
            </li>
            
             <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="why">Why Us</a>
            </li>
            
             <li class="nav-item ">
            <a class="nav-link"aria-current="page" href="contact">Contact</a>
            </li>
       
          </ul>
            
            
            
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="SignIn">Login</a>
            </li>
          <li class="nav-item">
           <a class="nav-link" aria-current="page" href="SignOut">SignUp</a>
          </li>
           </ul>
           

      </nav>
      
      <div class="container">
      <h1>Why Choose Us?</h1>
      <div class="row">
      <div class="service">
      <i class="fa-solid fa-lock"></i>
      <h2>Reliable and Secure</h2>
      <p>We prioritize the security and integrity of your cargo. Our systems are built with 
       the latest industry standards to ensure your valuable assets are protected throughout the logistics process.</p>
      </div>
      <div class="service">
      <i class="fa-solid fa-scale-balanced"></i>
      <h2>Scalable Solutions</h2>
      <p>Our flexible solutions can be customized to accommodate the evolving needs of your business. 
      Whether you're a small startup or a large enterprise, our systems can scale accordingly.</p>
      </div>
      <div class="service">
      <i class="fa-solid fa-people-group"></i>
      <h2>Experienced Team</h2>
      <p>Our team of professionals brings a wealth of knowledge and experience to the table. 
      We work closely with you to understand your requirements and provide tailored solutions 
      that meet your specific objectives.</p>
      </div>
      <div class="service">
      <i class="fa-solid fa-phone-volume"></i>
      <h2>Exceptional Customer Support</h2>
      <p>We value your satisfaction and strive to exceed your expectations. Our dedicated customer
       support team is available around the clock to address any concerns or queries you may have.</p>
      </div>
     
      </div>
      </div>
     
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fccd688eff.js" crossorigin="anonymous"></script>
</body>


</html>